body {
    background: white;
  }
  
  .container {
    -webkit-box-sizing: border-box;
    height: 80px;
    width: 100%;
    background:white;
  }
  
  .back-button{
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
  }
  
  .logo {
    position: relative;
    width: 200px;
    height: 80px;
  }
  
  .menu {
    display: relative;
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    z-index: 0;
    transition: 0.6;
  }
  
  .menu:hover,
  .menu:focus {
    background-color: #73777a;
  }
  
  .menu-logo{
    position: relative;
    width: 5%;
    padding-top: 20%;
    min-width: 40px;
    height: auto;
    bottom: 10%;
  }
  
  .foto {
    position: relative;
    padding-right: 10px;
    float: right;
    width: 50px;
    margin-top: 10px;
    margin-left: 5px;
    height: 50px;
  
  }
  
  .container-dropdown {
    display: none ;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* margin-right: 240px; */
    
  }
  
  .container-dropdown a {
    color: black;
    background-color: transparent;
    text-decoration: none;
    display: block;
  }
  
  .container-dropdown a:hover {
    background-color: gray;
    
    
  }
  
  .pop-up-menu {
    position: relative;
    z-index: 1; 
  }
  
  .pop-up-menu:hover .container-dropdown {
    display: block;
  }
  
  .search {
    background: white;
    border: 2px solid #c4c4c7;
    border-radius: 40px;
    float: right;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }
  
  .search:hover {
    width: 200px;
  }
  
  .search > .image-search {
    width: 35px;
    height: 35px;
    float: right;
  }
  
  .main-content {
    position: relative;
    padding-top: 20px;
    width: 100%;
    /* height:240px; */
  }
  
  .main-content> img {
    width: 100%;
    height: auto;
  }
  
  .main-content > .main-content-text {
    position: absolute;
    opacity: 0.5;
    top: 450px;
    left: 0;
    width: 100%;
    color: black;
    background: linear-gradient(gray, lightgrey);
    text-shadow: #708090;
    filter: alpha(Opacity=50);
  }
  
  .events {
    display: flex;
  
    justify-content: space-between;
  }
  
  .event {
    width: 32%;
    height: auto;
  }
  
  .cards {
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 32%;
    height: auto;
    border: 2px solid #a4a4a5;
    background: #d3d3d3;
    -webkit-box-sizing: border-box;
  }
  
  .card-text {
    position: relative;
    margin-top: 20px;
  }
  .card img {
    width: 100%;
    height: auto;
    
  }
  
  .card h2 {
    font-size: 150%;
    display: inline-block;
    color: black;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
  }
  
  .card h2:after {
    background-color: black;
    display: block;
    content: "";
    height: 2px;
    width: 0;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
  }
  
  .card h2:hover:after,
  .card h2:focus:after {
    width: 100%;
  }
  
  .card p {
    font-size: 100%;
  }
  
  
  
  .container-menu {
    float: left;
  }
  
  .content h3 {
    color: white;
  }
  
  .content {
    align-items: center;
    padding: 80px 173px;
    text-align: center;
    /* max-width: 1352px; */
    margin: auto;
    color: rgb(6, 6, 6);
  }
  
  .footer {
    display: inline-block;
    flex: 0 0 auto;
  
    background: #ffffff;
  
    height: 10vh;
    width: 100%;
  }
  
  .label-footer {
    bottom: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #708090;
  }
  
  .footer-networks {
    float: right;
  }
  
  .footer-network-logo {
    width: 30px;
    height: 30px;
  }
  
  .button-menu:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .button-menu:after {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .footer-logo {
    position: absolute;
    margin: 0;
    margin-left: 350px;
    width: 240px;
    height: auto;
  }
  